<%- include("./layouts/header") %>    
    <main class="flex about-us">
            <h2>Ciouz Food is a food delivery that offers  a meal delivery service (MDS) that allows you to order foods from shops and restaurants near you and, if you want, have them delivered to your door. You can order foods available in your area from the app.
            </h2>
            <!--<img class="meats" src="images/meats.png" alt=""/>-->
            
            <img class="border-radius" src="images/foods.png" alt=""/>
            
    </main>
  <%- include("./layouts/footer") %>