
<%- include("./layouts/header.ejs") %>

<main class="home flex">
    <div>
      <h1>Ciouz Food</h1>
      <h2>Order and eat Quality food packed with nutrients, vitamins, and minerals needed to keep your body functioning at peak capacity.
      </h2>
      <img src="https://www.freepik.com/vectors/yummy-emoji" alt=""/>
    </div>
    <div>
      <img class="border-radius" src="images/foods.png" alt=""/>
    </div>
  </main>
  <%- include("./layouts/footer") %>