<%- include("./layouts/header") %>   
<main class="Food-details">
    <section class="Login-form">
    <h2>User Login</h2>
    <p class="error"><%= error %></p>
    <div class="form-container">
       <form action="/user/login" method="post">
            <div class="label">
                <label class="label-margin" for="email">
                    <p>Email Address</p>
                </label>
                <input type="text" name="email" id="email" value="<%= form[0]?.email %>">
            </div>
            <div class="label">
                <label class="label-margin" for="password">
                    <p>Password</p>
                </label>
                <input type="password" name="password" id="password" value="">
            </div>
                <input class="Login btn center" type="submit" value="Login">
            </form>
        </div>
    </section>
    </main>
    <%- include("./layouts/footer") %>